@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

.h1 {
  font-size: 28px;
  font-weight: 400;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto', 'Sans-Serif';
}

select {
  background-color: inherit;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  max-width: 1366px;
  margin: 0 auto;
  padding: 15px 43px 0 0;
  background-color: #f8f8f8;
  position: relative;
}

.header_select {
  font-weight: 300;
  font-size: 12px;
}

.header_link {
  font-size: 12px;
}

.header a {
  font-size: 12px;
}

.top_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.t_header_left, .t_header_right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h_main_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.h_main_link img {
  width: 27px;
  height: 25px;
}

.h_main_link:hover p {
  text-decoration: underline;
}

.header_main, .h_main_left, .h_main_right, .placemik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_main {
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.placemik {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.placemik::before {
  content: 'made in korea';
  position: absolute;
  left: 35%;
  top: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.h_main_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding-left: 44px;
}

.h_main_right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.place {
  height: 30px;
  width: 135px;
}

.place img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mik {
  height: 42px;
  width: 54px;
}

.mik img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo_item p {
  font-size: 11px;
  margin: 0;
}

.burger {
  height: 77px;
  width: 77px;
  background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.burger div {
  height: 3px;
  width: 30px;
  background-color: #fff;
}

.header_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  width: 100%;
  height: 46px;
  position: relative;
}

.header_form::before {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  z-index: -1;
}

.header_form select {
  height: 44px;
  width: 96px;
  background: #f1e0f1;
  padding: 0 10px;
  font-size: 14px;
  border-right: 15px solid #f1e0f1;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  width: 100%;
}

.header_form input {
  height: 44px;
  max-width: 458px;
  width: 100%;
  margin-left: -5px;
  border: none;
}

.h_button {
  height: 44px;
  background-color: #fff;
  border: none;
  width: 80px;
}

.discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.discount_left {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  overflow: hidden;
  padding-left: 44px;
}

.discount_right {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.slider {
  overflow: hidden;
}

.slider_item {
  overflow: hidden;
  height: 350px;
}

.slider_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 90% 25%;
     object-position: 90% 25%;
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
}

.slider .slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 19px;
  border: none;
}

.slider .slick-arrow.slick-prev {
  left: 10px;
  top: 45%;
  background: #f1e0f1;
  background-image: url(../img/left-arrow-line-symbol.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.slider .slick-arrow.slick-next {
  right: 10px;
  background: url(../img/arrow-next.png) 0 0/100% no-repeat;
  top: 45%;
  background: #f1e0f1;
  background-image: url(../img/left-arrow-line-symbol.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.cat_slider .slick-track {
  height: 300px;
  overflow: hidden;
}

.cat_slider {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-width: 0;
}

.cs_item {
  overflow: hidden;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cs_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cat_slider .slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 19px;
  border: none;
}

.cat_slider .slick-arrow.slick-prev {
  left: 10px;
  top: 45%;
  background: #f1e0f1;
  background-image: url(../img/left-arrow-line-symbol.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.cat_slider .slick-arrow.slick-next {
  right: 10px;
  background: url(../img/arrow-next.png) 0 0/100% no-repeat;
  top: 45%;
  background: #f1e0f1;
  background-image: url(../img/left-arrow-line-symbol.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.discount_right {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.discount_right a {
  display: block;
  height: 162px;
}

.discount_right a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.cat {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 4fr;
      grid-template-columns: 1.2fr 4fr;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  z-index: 50;
  width: 100%;
}

.cat_left {
  padding: 30px 0 30px 40px;
  background: #f1e0f1;
  overflow: hidden;
}

.c_left_link {
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  max-width: 300px;
  display: block;
}

.c_left_link:hover {
  background-color: #fff;
}

.link_bold {
  font-weight: 500;
}

.c_left_list li {
  position: relative;
  width: 100%;
}

.c_left_list li:first-child::before {
  content: url(../img/before_link_1.png);
  position: absolute;
  left: -20px;
  top: 20%;
}

.c_left_list li:nth-child(20)::before {
  content: url(../img/before_link_2.png);
  position: absolute;
  left: -20px;
  top: 20%;
}

.c_left_list li:nth-child(21)::before {
  content: url(../img/before_link_3.png);
  position: absolute;
  left: -20px;
  top: 20%;
}

.c_right_top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 40px 40px;
  position: absolute;
  left: 30px;
  top: 30px;
}

.cat_right {
  padding: 32px;
  position: relative;
}

.crt_link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.crt_link:hover {
  text-decoration: underline;
}

.crb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.c_right_bottom {
  margin-top: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .f_top {
    display: block;
  }
  .footer {
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    row-gap: 30px;
  }
  .footer_logo {
    display: none;
  }
}

@media (max-width: 1024px) {
  .discount_right {
    display: none;
  }
  .discount_left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .t_header_left, .logo_item, .header_form {
    display: none;
  }
  .t_header_right {
    margin-left: auto;
  }
  .h_main_right {
    gap: 40px;
  }
  .buy_inner, .news_inner, .recomend_inner {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    gap: 20px 20px;
  }
  .store_title {
    font-size: 18px;
  }
  .watch_inner {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .watch_inner .watch_item:first-child {
    display: none;
  }
  .crt_list:first-child, .crt_list:last-child {
    display: none;
  }
  .c_right_top {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 834px) {
  .buy_inner, .news_inner, .recomend_inner, .watch_inner {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .for_you_inner {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .watch_item {
    display: block;
  }
  .cat_left {
    padding: 30px 0 30px 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .watch {
    padding: 40px 20px;
  }
  .footer {
    padding: 40px 20px;
  }
  .burger {
    height: 40px;
    width: 40px;
    padding: 5px;
    gap: 8px;
  }
  .burger div {
    width: 25px;
  }
  .header_main {
    margin-top: 30px;
  }
  .slider .slick-arrow {
    display: none;
  }
  .header {
    padding-right: 20px;
  }
  .h_main_left {
    padding-left: 20px;
  }
  .discount_left {
    padding-left: 20px;
  }
  .notice, .rate {
    font-size: 10px;
  }
  .marple {
    font-size: 12px;
  }
  .footer_list li, .footer_item p {
    font-size: 12px;
  }
  .footer_item form {
    display: block;
  }
}

@media (max-width: 667px) {
  .buy_inner, .news_inner, .recomend_inner, .for_you_inner, .watch_inner {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .link_low {
    bottom: -34%;
  }
  .notice, .rate {
    font-size: 12px;
  }
  .marple {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .h_main_link:nth-child(1), .h_main_link:nth-child(2) {
    display: none;
  }
  .buy_inner, .news_inner, .recomend_inner, .for_you_inner, .watch_inner, .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
  .link_low {
    bottom: -25%;
  }
  .burger {
    display: none;
  }
}

.container {
  margin: 0 auto;
  max-width: 1366px;
  padding: 0 44px 0 44px;
  background-color: #f8f8f8;
}

.buy {
  width: 100%;
  padding-top: 30px;
  padding-left: 5px;
}

.buy h1 {
  margin-bottom: 30px;
}

.buy_inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  background-color: #f8f8f8;
  gap: 20px 30px;
}

.link_block {
  -webkit-box-shadow: 0px 1px 13px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 1px 13px 0px rgba(34, 60, 80, 0.2);
  position: relative;
}

.link_block:hover .link_low {
  display: block;
}

.link_block:hover .link_low > .notice {
  text-decoration: underline;
}

.item_link {
  padding: 12px 10px 10px 11px;
  background-color: #fff;
  display: block;
  -webkit-box-shadow: 0px 1px 13px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 1px 13px 0px rgba(34, 60, 80, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  z-index: 0;
}

.item_link:hover .notice {
  color: #fff;
}

.link_low {
  padding: 2px 10px 10px 11px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -38%;
  width: 100%;
  display: none;
  z-index: 20;
  -webkit-box-shadow: 0px 13px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 13px 8px 0px rgba(34, 60, 80, 0.2);
}

.visible {
  height: 370px;
  margin-bottom: 0;
}

.foto img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
  margin-top: 20px;
}

.act_price {
  font-size: 14px;
  font-weight: 500;
  color: #FF4343;
}

.low_price {
  font-size: 10px;
  color: #4646468C;
  background-image: url(../img/price_line.png);
  background-repeat: no-repeat;
  background-position: 30% 30%;
}

.notice {
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  margin-top: 8px;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 12px;
  margin-top: 14px;
}

.marple {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 12px;
}

button {
  height: 34px;
  width: 100%;
  color: #fff;
  background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  cursor: pointer;
}

.disc {
  position: absolute;
  left: 70%;
  top: 5%;
  width: 32px;
  height: 16px;
  border: solid 1px #FF4343;
  border-radius: 30%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 10px;
  font-weight: 500;
}

.load {
  height: 44px;
  width: 187px;
  margin-left: auto;
  display: block;
  margin-top: 30px;
}

.news {
  margin-top: 30px;
}

.news h1 {
  margin-bottom: 30px;
}

.news_inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  background-color: #f8f8f8;
  gap: 20px 30px;
}

.for_you {
  margin-top: 30px;
}

.for_you h1 {
  margin-bottom: 30px;
}

.for_you_inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background-color: #f8f8f8;
  gap: 20px 30px;
}

.f_item {
  background-color: #fff;
}

.f_link {
  display: block;
  padding: 25px 20px 38px 20px;
  background-color: #fff;
}

.f_top {
  width: 100%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 24px;
}

.f_top, .f_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f_bottom {
  gap: 5px;
}

.f_bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.store_title {
  font-size: 24px;
  text-transform: uppercase;
}

.f_item_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recomend {
  margin-top: 30px;
}

.recomend h1 {
  margin-bottom: 30px;
}

.recomend_inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  background-color: #f8f8f8;
  gap: 20px 30px;
}

.watch {
  background: #f1e0f1;
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
  padding: 40px 44px 40px 43px;
}

.watch h1 {
  margin-bottom: 40px;
}

.watch_inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.watch_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 36px 14px;
  background-color: #fff;
  gap: 22px;
}

.w_item_right p:nth-child(1) {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 15px;
}

.w_item_right p:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
}

.w_item_left, .w_item_right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.w_item_left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
  padding: 40px 44px 40px 43px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1.2fr 1.5fr;
      grid-template-columns: 1fr 1fr 1.2fr 1.5fr;
}

.footer_list li {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

.li_one {
  font-size: 16px;
  font-weight: 500;
}

.f_placemik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-top: 60px;
}

.f_placemik::before {
  content: 'made in korea';
  position: absolute;
  left: 25%;
  top: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}

.footer_item p:nth-child(1) {
  color: #fff;
  margin-bottom: 23px;
}

.footer_item p:nth-child(3) {
  color: #fff;
  margin: 20px 0;
}

.f_text {
  background-color: transparent;
  padding: 10px;
  width: 260px;
  border: 1px solid #fff;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 40px;
}

.f_submit {
  color: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
  padding: 10px 20px;
  background-color: #fff;
  height: 40px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (max-width: 1200px) {
  .f_top {
    display: block;
  }
  .footer {
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    row-gap: 30px;
  }
  .footer_logo {
    display: none;
  }
}

@media (max-width: 1024px) {
  .discount_right {
    display: none;
  }
  .discount_left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .t_header_left, .logo_item, .header_form {
    display: none;
  }
  .t_header_right {
    margin-left: auto;
  }
  .h_main_right {
    gap: 40px;
  }
  .buy_inner, .news_inner, .recomend_inner {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    gap: 20px 20px;
  }
  .store_title {
    font-size: 18px;
  }
  .watch_inner {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .watch_inner .watch_item:first-child {
    display: none;
  }
  .crt_list:first-child, .crt_list:last-child {
    display: none;
  }
  .c_right_top {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 834px) {
  .buy_inner, .news_inner, .recomend_inner, .watch_inner {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .for_you_inner {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .watch_item {
    display: block;
  }
  .cat_left {
    padding: 30px 0 30px 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .watch {
    padding: 40px 20px;
  }
  .footer {
    padding: 40px 20px;
  }
  .burger {
    height: 40px;
    width: 40px;
    padding: 5px;
    gap: 8px;
  }
  .burger div {
    width: 25px;
  }
  .header_main {
    margin-top: 30px;
  }
  .slider .slick-arrow {
    display: none;
  }
  .header {
    padding-right: 20px;
  }
  .h_main_left {
    padding-left: 20px;
  }
  .discount_left {
    padding-left: 20px;
  }
  .notice, .rate {
    font-size: 10px;
  }
  .marple {
    font-size: 12px;
  }
  .footer_list li, .footer_item p {
    font-size: 12px;
  }
  .footer_item form {
    display: block;
  }
}

@media (max-width: 667px) {
  .buy_inner, .news_inner, .recomend_inner, .for_you_inner, .watch_inner {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .link_low {
    bottom: -34%;
  }
  .notice, .rate {
    font-size: 12px;
  }
  .marple {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .h_main_link:nth-child(1), .h_main_link:nth-child(2) {
    display: none;
  }
  .buy_inner, .news_inner, .recomend_inner, .for_you_inner, .watch_inner, .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
  .link_low {
    bottom: -25%;
  }
  .burger {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */